table {
  border: 1px solid gray;
  margin: 1rem;
  width: 91%;

}

th,
tr,
td {
  border: 1px solid gray;
}

th {
  width: 200px;
}

.load {
  margin: 1rem;
}

.fetched {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
}

.fetched_input {
  border: 1px solid black;
  width: max-content;
  padding: 0.5rem;
}

.search {
  border: 1px solid black;
  margin: 1rem;
}

.tapp {
  border: 1px solid black;
  margin: 1rem;
}

.productTable {
  border: 1px solid black;
  margin: 1rem;
}

.searchInput {
  margin: 1rem;
}

.addRow {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
}

.total {
  border: 1px solid black;
  margin: 1rem auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: fit-content;
}
