table {
  border: 1px solid black;
  margin: 1rem;
}

th,
tr,
td {
  border: 1px solid black;
}

th {
  width: 200px;
}

.search {
  border: 1px solid black;
  margin: 1rem;
}

.tapp {
  border: 1px solid black;
  margin: 1rem;
}

.searchinput {
  margin: 1rem;
}

.addrow {
  border: 1px solid black;
  margin: 1rem;
  padding: 1rem;
}

.total {
  border: 1px solid black;
  margin: 1rem auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: fit-content;
}
